.material-symbols-outlined {
    font-variation-settings:
      'FILL'1 ,
      'wght' 400,
      'GRAD' 0,
      'opsz' 12;
    color: #000000; /* Change to your desired color (e.g., green) */
    font-size: 10px; /* Adjust the size of the icon */
  }
 
